<div class="tweet">
    <!-- User Avatar -->
    <img class="avatar" src="user-avatar.jpg" alt="User Avatar">
    
    <!-- Tweet Content -->
    <div class="tweet-content">
        <!-- Username and Timestamp -->
        <div class="user-info">
            <span class="username">John Doe</span>
            <span class="timestamp">2h ago</span>
        </div>
        
        <!-- Tweet Text -->
        <p class="tweet-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non velit eu libero aliquet posuere.
        </p>
        
        <!-- Action Icons -->
        <div class="action-icons">
            <i class="far fa-comment"></i>
            <i class="fas fa-retweet"></i>
            <i class="far fa-heart"></i>
        </div>
    </div>
</div>


<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>