<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/styles/tweet.css'>
</head>
<body>    
    <div class="tweets">
        <img class="tweet__author-logo" src="/static/images/faith.jpg" />
        <div class="tweet__main">
            <div class="tweet__header">
              <div class="username">
                {{ post.author.username }}
              </div>              
              <div class="timestamp">
                {{ post.date_posted.strftime('%Y-%m-%d') }}                
              </div>
            </div>
            <div class="tweet__content">
                <p class="tweet-text"> {{ post.content }} </p>
            </div>              
        </div>                          
    </div>    
</body>
</html>