<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/styles/tweet.css'>
</head>
<body>    
    <div class="tweets">
        <img class="tweet__author-logo" src="/static/images/faith.jpg" />
        <div class="tweet__main">
            <div class="tweet__header">
              <div class="username">
                {{ post.author.username }}
              </div>              
              <div class="timestamp">
                {{ post.date_posted.strftime('%Y-%m-%d') }}                
              </div>
            </div>
            <div class="tweet__content">
                <p class="tweet-text"> {{ post.content }} </p>
                <div class="tweet-buttons">
                  <i class="far fa-comment" id="comment" onclick="textDisplay()"></i>
                  <div id="text-area-container" style="display: none;">
                    <textarea id="text-area" rows="4" cols="50" onclick="textDisplay()"></textarea>
                  </div>
                  <i class="far fa-heart" id="like-button-{{ post.id }}" onclick="like('{{ post.id }}')"></i>
                   <span id="likes-count-{{ post.id }}">{{ post.likes|length }}</span>                
                  <i class="fas fa-retweet"></i>
                  {% if post.author == current_user %}
                   <a href="{{ url_for('delete_post', post_id=post.id) }}"> <i class="fas fa-ban" id="del"></i> </a>
                  {% endif %} 
                </div>
            </div>              
        </div>                          
    </div> 
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>   
</body>
</html>