<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Twitter Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/styles/twitterprofile.css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div id="totop"></div>
    <a href="#totop" class="fa fa-arrow-up" id="fixedarrow"></a>
    <!-- <a href="#totop"><i class="fa fa-arrow-up" aria-hidden="true" id="fixedarrow"></i></a> -->
    <!-- LEFT VERTICAL FIXED MENU -->

    <div class="leftverticalmenu">
        <a href="#" class="fa fa-twitter" id="twittericon"></a>
    </div>

    <!-- END OF LEFT FIXED MENU -->

    <div class="flexcontainer">
        <div class="middlecontainer">
            <section class="twitterprofile">
                <div class="headerprofileimage">
                    <img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="header" id="headerimage">
                    <img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="profile pic" id="profilepic">
                    <div class="editprofile">Edit Profile</div>
                </div>
                <div class="bio">
                    <div class="handle">
                        <h3>faith&abiolla@faithozandabiolla</h3>                        
                    </div>
                    <p>Software Enginneer Students |</p>
                    <p>Chess fans |</p>                    
                </div>
            </section>

            <section class="tweets">
                <div class="heading">
                    <p>Tweets</p>
                    <p>Tweets and Replies</p>
                    <p>Media</p>
                    <p>Likes</p>
                </div>
            </section>
            <section class="mytweets">
                <div><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="avi" class="avi"></div>
                <div class="tweetbody">
                    <div>faith&abiolla@faithozandabiolla - Aug. 24</div>
                    <div class="tweetcontent">Let us all have fun tweeting or posting,<br> no mislead people with weird tweets.</div>
                    <ul class="retweeticons">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-retweet" aria-hidden="true"></i>                        
                        <i class="fas fa-heart"></i>
                    </ul>
                </div>

            </section>
        </div>

    </div>
</body>

</html>
