.layout {
    display: grid;
    grid-template-columns: 200px auto 350px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .layout__right-sidebar {
    position: flex;
    width: 200px;
    margin-left: 80px;
    max-height: 100vh;
  }