.trends-for-you {
    border-radius: 15px;
    background: #65b7ee;
    margin-top: 30px;
    height: 450px;
  }
  
  .trends-for-you__block {
    border-bottom: 1px solid #4de6f1;
    padding: 10px 15px;
  }
  
  .trends-for-you__block:last-child {
    border-bottom: none;
  }
  
  .trends-for-you__heading {
    font-size: 19px;
    font-weight: bold;
    color: #0e42d1;
  }
  
  .trends-for-you__meta-information {
    font-size: 13px;
    font-weight: 200;
    color: #657786;
  }
  
  .trends-for-you__trend-name {
    font-size: 15px;
    color: #14171a;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
  }
  